body {
  margin: 0;
  background-image: url(/Public/kayakking2.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-position: center;
}
.header {
  width: 100vw;
  height: 120px;
  position: fixed;
  background-color: #101010cc;
}
.logo {
  width: fit-content;
  height: fit-content;
  margin-left: 45px;
  float: left;
  margin-top: 30px;
  float: left;
}
.nav-bar {
  width: fit-content;
  height: 45px;
  padding-top: 21px;
  float: right;
}
.nav-items {
  float: right;
  margin-top: 25px;
  margin-right: 32px;
  width: 300px;
  height: 40px;
}
.items {
  display: inline;
  background-color: #1b1b4559;
  margin: 6px;
  padding: 5px;
  border-radius: 5px;
}
.head-main {
  width: fit-content;
  height: 50px;
  margin: auto;
}
h2 {
  color: white;
  font-size: xx-large;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding-top: 10px;
}
.items a:hover {
  color: #00f7efc7;
}
.content-body {
  width: 100vw;
  height: 700px;
  margin-top: 110px;
  padding-top: 20px;
  padding-bottom: 40px;
  float: left;
}
a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  margin: 3px;
  font-family: "Open Sans", sans-serif;
}
.container {
  text-align: center;
}
.formdiv {
  background-color: #3a3a3acc;
  width: 325px;
  padding: 20px;
  border-radius: 7px;
  margin: auto;
  padding-bottom: 30px;
}
* {
  color: #fff;
}
input,
textarea {
  color: black;
  border: none;
  margin-bottom: 10px;
  border-radius: 6px;
}
#signup-button {
  font-family: monospace;
  width: 100px;
  height: 35px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #ffffff;
}
#signup-button:hover,
#signup-button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.link-si {
  width: 300px;
  margin: auto;
  height: 34px;
  border-radius: 9px;
  background-color: #716c6c;
}
.link-si a:hover {
  color: #00f7efc7;
}
#txt-1 {
  padding-top: 8px;
  margin-top: 30px;
}
#reg {
  width: 25%;
  background: #3a3a3acc;
  padding: 13px;
  margin: auto;
  border-radius: 11px;
}
