<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iCart | Your Digital Partner</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/products-home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg justify-content-end navbar-dark bg-dark fixed-top"
      >
        <div class="container-fluid">
          <a href="/" class="navbar-brand">
            <img
              id="navbarLogo"
              src="{% static 'images/logo/logo5.png' %}"
              alt=""
              class="d-inline-block align-middle mr-2"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTabsContent"
            aria-controls="navbarTabsContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarTabsContent"
          >
            <form class="form-inline">
              <div class="search-bar bg-light">
                <input
                  class="form-control srch mr-sm-2"
                  type="search"
                  placeholder="What are you looking for 😋"
                  aria-label="Search"
                />
              </div>
            </form>
            <ul class="navbar-nav justify-content-end">
              <li class="nav-item">
                <a href="/" class="nav-link">Products</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link active mr-2"
                  ><span><i class="fa fa-cart-shopping"></i></span> Cart
                  <span
                    style="margin-top: -0.2rem; position: absolute"
                    class="badge badge-pill badge-info"
                    >0</span
                  ></a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  id="navbarDropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Categories</a
                >
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">All</a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    href="/categories/mobiles/mobiles.html"
                    >Mobiles</a
                  >
                  <a
                    class="dropdown-item"
                    href="/categories/laptops/laptops.html"
                    >Laptops</a
                  >
                  <a
                    class="dropdown-item"
                    href="/categories/gadgets/gadgets.html"
                    >Gadgets</a
                  >
                </div>
              </li>
              <li class="nav-item">
                <a href="{% url 'userSigninPage' %}" class="nav-link"
                  ><span><i class="fa-solid fa-right-to-bracket"></i></span>
                  Login</a
                >
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Sign Up</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {%if not products%}
    <section id="empty-cart-seg" style="margin-top: 18vh">
      <div id="cartModal" class="d-flex justify-content-center">
        <div class="w-100">
          <div class="p-4">
            <div class="container-fluid mb-2 cart-modal">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h5>
                        <span><i class="fa fa-cart-shopping"></i></span> Cart
                      </h5>
                    </div>
                    <div class="card-body cart">
                      <div class="col-sm-12 empty-cart-cls text-center">
                        <img
                          src="{% static 'images/Cart/empty-cart.png'%}"
                          width="130"
                          height="130"
                          class="img-fluid mb-4 mr-3"
                        />
                        <h3><strong>Your Cart is Empty</strong></h3>
                        <h4>Add something to make me happy :)</h4>
                        <a
                          href="/"
                          class="btn btn-primary cart-btn-transform m-3"
                          data-abc="true"
                          >continue shopping</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {%else%}
    <section class="cart-products-seg">
      <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-12">
            <div class="card cart-card mb-5 mt-2">
              <div class="card-body p-0">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="p-5">
                      <div
                        class="d-flex justify-content-between align-items-center mb-5"
                      >
                        <h1 class="fw-bold mb-0 text-black">Your Items</h1>
                        <h6 class="mb-0 text-muted">{{count}} items</h6>
                      </div>
                      <hr class="my-4" />

                      {% for p in products %}

                      <div
                        class="row mb-4 d-flex justify-content-between align-items-center product-data"
                      >
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img
                            src="{{p.product.image.url}}"
                            class="img-fluid rounded-3"
                            alt=".."
                          />
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4">
                          <h5 class="text-secondary">
                            {{p.product.product_name}}
                          </h5>
                          <h6 class="text-muted mb-1">
                            {{p.product.description}}
                          </h6>
                          <p>Seller : {{p.product.vendor}}</p>
                        </div>
                        <div
                          class="col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center"
                        >
                          <input
                            type="hidden"
                            name="prod-id"
                            value="{{p.product.id}}"
                          />
                          {%csrf_token%}
                          {%if p.quantity == 1 %}
                          <button class="btn px-2 changeQuantity" disabled onclick="changeQuantity('{{p.id}}','{{p.product.id}}',-1)">
                            <i class="fas fa-minus"></i>
                          </button>
                          {%else%}
                          <button class="btn px-2 changeQuantity" onclick="changeQuantity('{{p.id}}','{{p.product.id}}',-1)">
                            <i class="fas fa-minus"></i>
                          </button>
                          {%endif%}

                          <!-- <input id="prodQuantity" min="0" readonly="readonly"  value="{{this.quantity}}" class="form-control form-control-sm" /> -->
                          <span
                            id="qnt{{p.id}}"
                            class="d-flex align-items-center m-2 border rounded p-2"
                            >{{p.quantity}}</span
                          >

                          <button
                            class="btn px-2 changeQuantity"
                            onclick="changeQuantity('{{p.id}}','{{p.product.id}}',1)"
                          >
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0">₹ <span id="price{{p.id}}">{{p.total_price}}</span></h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a
                            href="#"
                            onclick="removeCartProduct(`{{p.product.id}}`)"
                            class="text-muted h4"
                            ><i class="fas fa-times"></i
                          ></a>
                          <!-- <a type="button" class="text-muted"
                              ><i class="fa fa-times"></i
                            ></a> -->
                        </div>
                      </div>

                      <hr class="my-4" />

                      {%endfor%}

                      <div class="pt-5 d-felx justify-content-center">
                        <h6 class="mb-0">
                          <a href="/" class="text-body"
                            ><i class="fa fa-long-arrow-alt-left mr-2"></i>Back
                            to shopping</a
                          >
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 bg-grey">
                    <div class="p-5">
                      <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                      <hr class="my-4" />

                      <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase">items {{count}}</h5>
                        <h5>₹ <span id="cart-total">{{sum}}</span></h5>
                      </div>

                      <h5 class="text-uppercase mb-3">Shipping</h5>

                      <div class="mb-4 pb-2">
                        <select class="select">
                          <option value="1">
                            Standard Delivery- ₹20.00
                          </option>
                          <option value="2">Fast Delivery- ₹50.00</option>
                        </select>
                      </div>

                      <h5 class="text-uppercase mb-3">Give code</h5>

                      <div class="mb-5">
                        <div class="form-outline">
                          <input
                            type="text"
                            id="form3Examplea2"
                            class="form-control form-control-lg"
                          />
                          <label class="form-label" for="form3Examplea2"
                            >Enter your code</label
                          >
                        </div>
                      </div>

                      <hr class="my-4" />

                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total price</h5>
                        <h5>₹ <span id="sum-total">{{sum}}</span></h5>
                      </div>

                      <button
                        type="button"
                        onclick="window.location.href=`{% url 'checkoutPage' %}`"
                        class="btn btn-outline-dark btn-block"
                        data-mdb-ripple-color="dark"
                      >
                        Proceed To Pay
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {%endif%}

    <footer
      id="footer-section"
      class="text-center text-lg-start text-white"
      style="background-color: #2f384a"
    >
      <div class="container p-4 pb-0">
        <section class="">
          <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="mb-4 font-weight-bold">iCart Pvt Ltd.</h6>
              <p>The complete digital platform.</p>
              <br />
              <h6 class="text-uppercase mb-4 font-weight-bold">Policy</h6>
              <p>
                <a class="text-white">Terms & Conditions</a>
              </p>
              <p>
                <a class="text-white">Privacy Policy</a>
              </p>
            </div>

            <hr class="w-100 clearfix d-md-none" />

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
              <p>
                <a class="text-white">Mobiles</a>
              </p>
              <p>
                <a class="text-white">Computers and Laptops</a>
              </p>
              <p>
                <a class="text-white">Gadgets</a>
              </p>
              <p>
                <a class="text-white">Home Appliance</a>
              </p>
            </div>

            <hr class="w-100 clearfix d-md-none" />

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
              <p>
                <a href="./home.html" class="text-white">Home</a>
              </p>
              <p>
                <a class="text-white">Your Account</a>
              </p>
              <p>
                <a class="text-white">Shipping Partner</a>
              </p>
              <p>
                <a class="text-white">Help</a>
              </p>
            </div>

            <hr class="w-100 clearfix d-md-none" />

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
              <p><i class="fa fa-envelope mr-3"></i> info@icart.com</p>
              <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
          </div>
        </section>
        <hr class="my-1" />
        <!-- Section: Copyright -->
        <section class="pt-1 pt-0">
          <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <div class="pt-1 pb-1">
                © 2023 Copyright:
                <a class="text-white" href="home.html">icart.com</a>
              </div>
            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                ><i class="fa fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                ><i class="fa fa-google"></i
              ></a>
              <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                ><i class="fa fa-instagram"></i
              ></a>
            </div>
          </div>
        </section>
      </div>
    </footer>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
      integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'js/products.js' %}" type="text/javascript"></script>
  </body>
</html>
