<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iCart | Your Digital Partner</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/products-home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg justify-content-end navbar-dark bg-dark fixed-top"
      >
        <div class="container-fluid">
          <a href="/" class="navbar-brand">
            <img
              id="navbarLogo"
              src="{% static 'images/logo/logo5.png' %}"
              alt=""
              class="d-inline-block align-middle mr-2"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTabsContent"
            aria-controls="navbarTabsContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarTabsContent"
          >
          <div class="location mr-4 my-2 text-white font-weight-bold">
            <span><i class="fa-solid fa-location-dot"></i></span> Current Location
          </div>
            <form class="form-inline">
              <div class="search-bar bg-light">
                <input
                  class="form-control srch mr-sm-2"
                  type="search"
                  placeholder="What are you looking for 😋"
                  aria-label="Search"
                />
              </div>
            </form>
            <ul class="navbar-nav justify-content-end">
              {% if request.user.is_authenticated %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link active dropdown-toggle"
                  data-mdb-toggle="dropdown"
                  id="navbarDropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ><span><i class="fa-solid fa-user"></i></span>
                  {{request.user.first_name}}</a
                >
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"><span><i class="fa fa-user text-secondary"></i></span> My Profile</a>
                  <a class="dropdown-item" href="{% url 'myOrders' %}"><span><i class="fa-solid fa-cart-shopping"></i></span> Orders</a>
                  <a class="dropdown-item" href="#"><span><i class="fa-solid fa-heart text-danger"></i></span> Wishlist</a>
                  <a class="dropdown-item" href="#"><span><i class="fa-solid fa-tag text-info"></i></span> Coupons</a>
                  <a class="dropdown-item" href="#"><span><i class="fa fa-solid fa-gift"></i></span> Gift Cards</a>
                  <a class="dropdown-item" href="#"><span><i class="fa-solid fa-bell"></i></span> Notifications</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'userLogout' %}"><span><i class="fa-solid fa-power-off"></i></span> Logout</a>
                </div>
              </li>
              {% else %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-mdb-toggle="dropdown"
                  id="navbarDropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ><span><i class="fa-solid fa-right-to-bracket"></i></span>
                  Login</a
                >
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'userSigninPage' %}"><span><i class="fa-solid fa-right-to-bracket text-info"></i></span> Login</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'userSignupPage' %}"><span><i class="fa fa-user text-secondary"></i></span> New Customer? <span class="btn btn-outline-primary" onclick="window.location.href = `{% url 'userSignupPage' %}`" >Sign Un</span></a>
                  <a class="dropdown-item" href="#"><span><i class="fa-solid fa-heart text-danger"></i></span> Wishlist</a>
                  <a class="dropdown-item" href="#"><span><i class="fa-solid fa-tag text-info"></i></span> Coupons</a>
                  <a class="dropdown-item" href="#"><span><i class="fa fa-solid fa-gift"></i></span> Gift Cards</a>
                </div>
              </li>
              {% endif %}
              <li class="nav-item">
                <a href="/" class="nav-link">Products</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-mdb-toggle="dropdown"
                  id="navbarDropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Categories</a
                >
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'categoryItems' %}">All</a>
                  <div class="dropdown-divider"></div>
                  {% for i in categories%}
                  <a
                    class="dropdown-item"
                    href="{% url 'showCategoryItems' i.id %}"
                    >{{i.category_name}}</a
                  >
                  {%endfor%}
                </div>
              </li>
              <li class="nav-item mr-1">
                <a href="{% url 'userCartPage' %}" class="nav-link"
                  ><span><i class="fa fa-cart-shopping"></i></span> Cart
                  {%if request.user%}
                  <span
                    style="margin-top: -0.2rem; position: absolute"
                    id="cart-count"
                    class="badge badge-pill badge-info"
                    >{{count}}</span>
                  {%else%}
                  {%endif%}
                  </a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="placed-order-seg">
        <div class="container-fluid">
          <div class="container text-center">
            <h1>Thank you.</h1>
            <p class="lead w-lg-50 mx-auto">Your order has been placed successfully.</p>
            <p class="w-lg-50 mx-auto">Your order number is
              <a href="#">9237427634826</a>. We will immediately process your and it
              will be delivered in 2 - 5 business days.</p>
          </div>
      
          <div class="d-flex justify-content-center p-2">
            <div>
              <button class="btn btn-outline-info" onclick="window.location.href='/my-orders'">
                My Orders
              </button>
            </div>
          </div>
      
          <div class="container-fluid">
            <h2 class="h5 mb-5 text-center">You may also like these products</h2>
            <div class="row">
              {%for i in items%}
              <div class="col-lg-3">
                <div class="card text-center mb-3">
                  <div class="py-5 px-4">
                    <img
                      src="{{i.image.url}}"
                      alt=""
                      class="img-fluid mb-4"
                    />
                    <h3 class="fs-6 text-truncate"><a
                        href="#"
                        class="stretched-link text-reset"
                      >{{i.product_name}}</a></h3>
                    <span class="text-success">₹{{i.price}}</span>
                    <del class="text-muted">₹{{i.original_price}}</del>
                  </div>
                  <div
                    class="bg-danger text-white small position-absolute end-0 top-0 px-2 py-2 lh-1 text-center"
                  >
                    <span class="d-block">10%</span>
                    <span class="d-block">OFF</span>
                  </div>
                </div>
              </div>
              {%endfor%}
            </div>
          </div>
        </div>
      </section>

    <footer
      id="footer-section"
      class="text-center text-lg-start text-white"
      style="background-color: #2f384a"
    >
      <div class="container p-4 pb-0">
        <section class="">
          <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="mb-4 font-weight-bold">iCart Pvt Ltd.</h6>
              <p>The complete digital platform.</p>
              <br />
              <h6 class="text-uppercase mb-4 font-weight-bold">Policy</h6>
              <p>
                <a class="text-white">Terms & Conditions</a>
              </p>
              <p>
                <a class="text-white">Privacy Policy</a>
              </p>
            </div>

            <hr class="w-100 clearfix d-md-none" />

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
              <p>
                <a class="text-white">Mobiles</a>
              </p>
              <p>
                <a class="text-white">Computers and Laptops</a>
              </p>
              <p>
                <a class="text-white">Gadgets</a>
              </p>
              <p>
                <a class="text-white">Home Appliance</a>
              </p>
            </div>

            <hr class="w-100 clearfix d-md-none" />

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
              <p>
                <a href="./home.html" class="text-white">Home</a>
              </p>
              <p>
                <a class="text-white">Your Account</a>
              </p>
              <p>
                <a class="text-white">Shipping Partner</a>
              </p>
              <p>
                <a class="text-white">Help</a>
              </p>
            </div>

            <hr class="w-100 clearfix d-md-none" />

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
              <p><i class="fa fa-envelope mr-3"></i> info@icart.com</p>
              <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
          </div>
        </section>
        <hr class="my-1" />
        <!-- Section: Copyright -->
        <section class="pt-1 pt-0">
          <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <div class="pt-1 pb-1">
                © 2023 Copyright:
                <a class="text-white" href="home.html">icart.com</a>
              </div>
            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                ><i class="fa fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                ><i class="fa fa-google"></i
              ></a>
              <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                ><i class="fa fa-instagram"></i
              ></a>
            </div>
          </div>
        </section>
      </div>
    </footer>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/products.js' %}" type="text/javascript"></script>
  </body>
</html>
