<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin | Dashboard</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    /> -->
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
  </head>
  <body>
    <header>
      <nav
        class="container-fluid navbar navbar-custom navbar-expand-md justify-content-end navbar-dark fixed-top"
      >
        <div class="container-fluid mt-2 mb-2">
          <a href="" class="navbar-brand">
            <img
              id="navbarLogo"
              src="{% static 'images/logo/logo5.png' %}"
              alt=""
              class="d-inline-block align-middle"
            />
          </a>
          <a class="navbar-brand font-weight-bold ml-3" href="#">Admin Panel</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTabsContent"
            aria-controls="navbarTabsContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarTabsContent"
          >
            <ul class="navbar-nav justify-content-end">
              <li>
                <div class="dropdown show container-fluid">
                  <a
                    class="dropdown-toggle nav-link font-weight-bold"
                    href="#"
                    role="button"
                    id="profileDropdownMenu"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="text-decoration: none"
                  >
                    <span><i class="fa fa-solid fa-user"></i>&nbsp;</span>Admin
                  </a>

                  <div
                    class="dropdown-menu usersdd px-2"
                    aria-labelledby="profileDropdownMenu"
                  >
                    <a class="dropdown-item" href="{% url 'showUsers' %}"
                      >Show Users</a
                    >
                    <div class="dropdown-divider"></div>
                    <a
                      class="dropdown-item log-out"
                      href="{% url 'userLogout' %}"
                      ><button class="btn btn-outline-danger w-100">
                        <span
                          ><i
                            class="fa fa-solid fa-arrow-right-from-bracket"
                          ></i
                        ></span>
                        Logout
                      </button></a
                    >
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a href="{% url 'adminHomePage' %}" class="nav-link active"
                  ><span
                    ><i class="fa fa-tachometer" aria-hidden="true"></i
                  ></span>
                  Dashboard</a
                >
              </li>
              <li>
                <div class="dropdown show container-fluid">
                  <a
                    class="dropdown-toggle nav-link font-weight-bold"
                    href="#"
                    role="button"
                    id="profileDropdownMenu"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="text-decoration: none; color: rgb(255 255 255 / 84%)"
                  >
                    <span
                      ><i class="fa fa-plus" aria-hidden="true"></i>
                      &nbsp;</span
                    >Categories
                  </a>

                  <div
                    class="dropdown-menu usersdd p-2"
                    aria-labelledby="profileDropdownMenu"
                  >
                    <a class="dropdown-item" href="{% url 'showCategories' %}"
                      >Show Categories</a
                    >
                    <a class="dropdown-item" href="{% url 'addCategoryPage' %}"
                      >Add Category</a
                    >
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown show container-fluid">
                  <a
                    class="dropdown-toggle nav-link font-weight-bold"
                    href="#"
                    role="button"
                    id="profileDropdownMenu"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="text-decoration: none; color: rgb(255 255 255 / 84%)"
                  >
                    <span><i class="fa-brands fa-shopify"></i> &nbsp;</span
                    >Products
                  </a>

                  <div
                    class="dropdown-menu usersdd p-2"
                    aria-labelledby="profileDropdownMenu"
                  >
                    <a class="dropdown-item" href="{% url 'showProducts' %}"
                      >Products</a
                    >
                    <a class="dropdown-item" href="{% url 'addProductPage' %}"
                      >Add Product</a
                    >
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown show container-fluid">
                  <a
                    class="dropdown-toggle nav-link font-weight-bold"
                    href="#"
                    role="button"
                    id="profileDropdownMenu"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="text-decoration: none; color: rgb(255 255 255 / 84%)"
                  >
                    <span><i class="fa fa-cart-shopping"></i> &nbsp;</span
                    >Orders
                  </a>

                  <div
                    class="dropdown-menu usersdd p-2"
                    aria-labelledby="profileDropdownMenu"
                  >
                    <a class="dropdown-item" href="{% url 'showOrders' %}"
                      >Orders Placed</a
                    >
                    <a class="dropdown-item" href="{% url 'dispatchedOrders' %}"
                      >Shipment</a
                    >
                    <a class="dropdown-item" href="">Order Tracking</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="dashboard-seg px-1 py-3">
              <div class="dash-content">
                <ul class="list-group">
                  <li class="list-group-item">
                    <span
                      ><i
                        class="fa fa-tachometer text-info"
                        aria-hidden="true"
                      ></i
                    ></span>
                    &nbsp;DASHBOARD
                  </li>
                  <li class="list-group-item">
                    <span
                      ><i class="fa fa-angle-right" aria-hidden="true"></i>
                      &nbsp;</span
                    >
                    Default
                  </li>
                  <li class="list-group-item">
                    <span
                      ><i class="fa fa-angle-right" aria-hidden="true"></i>
                      &nbsp;</span
                    >
                    Analytics
                  </li>
                  <li class="list-group-item">
                    <a
                      href="{% url 'showOrders' %}"
                      class="text-white"
                      style="text-decoration: none"
                    >
                      <span
                        ><i class="fa-solid fa-chart-simple text-success"></i>
                        &nbsp;</span
                      >
                      Sales
                    </a>
                  </li>
                  <li class="list-group-item">
                    <span><i class="fa-solid fa-file-invoice"></i> &nbsp;</span>
                    Invoices
                  </li>
                  <li class="list-group-item">
                    <span
                      ><i class="fa-solid fa-calendar-days"></i> &nbsp;</span
                    >
                    Calendar
                  </li>
                  <li class="list-group-item">
                    <span
                      ><i class="fa-solid fa-comment text-success"></i>
                      &nbsp;</span
                    >
                    Feedbacks
                  </li>
                  <li class="list-group-item">
                    <span
                      ><i class="fa-solid fa-bug text-danger"></i> &nbsp;</span
                    >
                    Issues Reported
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-9 mb-5">
            <div class="dash-right-seg py-2">
              <div class="row">
                <div class="col-md-4">
                  <div class="dash-right-content">
                    <a href="{% url 'showOrders' %}" style="text-decoration: none">
                      <div class="row">
                        <div class="col-7 tile-text">
                          <div class="row">ORDERS</div>
                          <div class="row">{{orders}}</div>
                        </div>
                        <div class="col-5">
                          <span
                            ><i class="fa-solid fa-cube text-info"></i
                          ></span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="dash-right-content">
                    <a href="" style="text-decoration: none">
                      <div class="row">
                        <div class="col-7 tile-text">
                          <div class="row">REVENUE</div>
                          <div class="row"><span>₹&nbsp;</span>{{revenue}}</div>
                        </div>
                        <div class="col-5">
                          <span
                            ><i class="fa-solid fa-comments-dollar text-secondary"></i></span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="dash-right-content">
                    <div class="row">
                      <div class="col-7 tile-text">
                        <div class="row">SALES</div>
                        <div class="row">{{sales}}</div>
                      </div>
                      <div class="col-5">
                        <span
                          ><i class="fa-solid fa-chart-simple text-success"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="dash-right-content">
                    <a href="{% url 'showProducts' %}" style="text-decoration: none">
                      <div class="row">
                        <div class="col-7 tile-text">
                          <div class="row">PRODUCTS</div>
                          <div class="row">{{products}}</div>
                        </div>
                        <div class="col-5">
                          <span
                            ><i class="fa-solid fa-bag-shopping text-success"></i></span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="dash-right-content">
                    <div class="row">
                      <div class="col-7 tile-text">
                        <div class="row">USERS</div>
                        <div class="row">{{customers}}</div>
                      </div>
                      <div class="col-5">
                        <span
                          ><i class="fa-solid fa-user text-info"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="dash-right-content">
                    <a href="" style="text-decoration: none">
                      <div class="row">
                        <div class="col-7 tile-text">
                          <div class="row">SELLERS</div>
                          <div class="row">{{sellers}}</div>
                        </div>
                        <div class="col-5">
                          <span
                            ><i class="fa-solid fa-store text-secondary"></i></span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
      integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
